/*nav styles*/
nav{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
}
.logo{
    width: 99px;
    height: 51px;
    color: #4E47FF;
}

/*header style*/
.header{
    background-image: url('../images/Hero-bg.png');
    width: 1440px;
    height: 400px;
    padding: 0 0 0 200;
    background-position: 25%;
}
.container{
    display:block;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 40px;
    text-align: center;
    color: #252432;
    margin-bottom: 20px;
}

/*button*/
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none; 
    cursor: pointer;
}
.btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}
.bt{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
main section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;

}
.left-section{
    color: #252432;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50;
}
div p{
    color: grey;
}
.right-section{
    width: 250px;
    border-radius: 15px;
}
.right-section img{
    border-radius: 40px;
    height: 250px;
    width: 350px;
}
/*section style*/
.section{
    background-color: lightgray;
    margin: 50px 100px;
    border-radius: 20px;
}
.user-item{
    display: flex;
    justify-content:space-around ;
}
.user-head{
    font-size: 30px;
    text-align: center;
    color: #252432;
    margin: 50px;
}
.user-percentage{
    font-size: 60px;
    color: rgb(199, 54, 199);
    justify-content: space-around;
    font-weight: bold;
}
.user-description{
    font-size: 20px;
}
/* review style*/
.review-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.review{
    padding: 30px;
    border-radius: 5px;
    
}
.reviews{
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    box-shadow: 10px 10px 10px rgb(173, 172, 172)

}
.reviews:hover{
    background-color: bisque;
}
.review-text-center{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.review-title{
    font-size: 25px;
}
.review-description{
    color: black;
}
.Reviewer-Name{
    display: flex;
    gap: 20px;
}
.review-img{
    border-radius: 15px;
}
.r-name{
    color: grey;
}
.r-date{
    color: rgb(121, 120, 120);
}
/*focus section*/
.focus-section{
 background-color: whitesmoke;
 width: auto;
 height: 600px;
 display: block;
}
.text{
    text-align: center;
    color: grey;
}
.f-img{
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 350px;
}
/*footer section*/
.footeer-text{
    font-size: 30px;
}
.footers{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    background-color: whitesmoke;
    
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white  ;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 24px;
    border: gray;
}
.last-nav{
    text-align: center;
    justify-content: center;
    gap: 20px;

}
ul{
     display: flex;
    list-style: none;
    gap: 20px;
    color: grey;
}
.l-head{
    text-align: center;
    color: #4E47FF;
    font-size: 45px;
}
.l-text{
    text-align: center;
}
